.container {
    width: 1180px;
    margin: 0 auto;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    flex-direction: row;
}

.section {
    flex: 1 0;
}